@font-face {
    src: url('../ANMUMWEBFONT/VAG-Rounded-Std/VNF-VAGRounded-Black.ttf');
    font-family:vagRounded-Black;
}
@font-face {
    src: url('../ANMUMWEBFONT/VNF-VAGRounded-Light/VNF-VAGRounded-Light.ttf');
    font-family:vagRounded-Light;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.hide-class{
    display: none;
}
#fullpage .section {
    overflow: hidden;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
#header .header-content{
    padding: 15px 0;
}

.blocker {
    z-index: 99;
    padding: 0;
    border-radius: 0  ;
    -webkit-border-radius: 0  ;
    -moz-border-radius: 0  ;
    -ms-border-radius: 0  ;
    -o-border-radius: 0  ;
}
.modal a.close-modal::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
  .modal {
      max-width: none;
      width: 100%;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      padding: 0;
}
  .modal a.close-modal {
      background-image: none;
  }
#header .header-menu .header-btn, .popup-btn{
    border-radius: 50%;
    background-color: rgb(27, 66, 145);
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition:  .5s ease-in-out;
    -webkit-transition:  .5s ease-in-out;
    -moz-transition:  .5s ease-in-out;
    -ms-transition:  .5s ease-in-out;
    -o-transition:  .5s ease-in-out;
    position: absolute;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .header-menu .header-btn .fa-bars{
    color: #fff;
    text-align: center;
    font-size: 26px;
}


/*************ABOUT CSS ***************/
#about{
    margin:0;
    position: relative;
    background-image: url('../img/Hue_Saturation-1.png');
    background-size: 100% auto;
    background-position: center center;
    background-repeat: repeat-x;
    height: 100vh;
}
#about:after{
    content: '';
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center top;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22vh;
    background-image: url('../img/Shape3.png');
}
.about-items{
    position: relative;
    top: 20%;
    min-width: 80%;
    width: auto;
    margin: auto;
    height: 100%;

}
.about-imgs img{
    position: fixed;
    bottom: 12%;
}
.about-logo img{
    width: 100%;
    height: auto;
}
.about-content p {
    font-family: 'Open Sans', sans-serif;
    color: #9963a9;
    padding: 25px 30px 0 30px;
    font-weight: 500;
    font-size: 17px;
    margin-left: auto;
}
.about-img-footer img{
    width: 100%;
    position: relative;
    z-index: 20;
    height: 380px;
}

/*************SIGN UP CSS ***************/
#signUp{
    background-image: url('../img/Capture.PNG');
    position: relative;
    z-index: 99;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#signUp .signUp-container {
    background: white;
    position: relative;
    margin: auto;
    max-width: 1024px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
}
#signUp .signUp-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    background-image: url(../img/dangkynhanmau.png);
    width: 100%;
    height: 18.11vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translate(-40%,-50%);
}
#signUp .signUp-container .signUp-imgs{
    width: 40%;
    position: relative;
    bottom: -15px;
    left: -11%;
}
#signUp .signUp-container .signUp-imgs img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#signUp .signUp-container .signup-form-items{
    width: 60%;
    margin: auto;
    padding: 60px 95px 0 30px;
}
#signUp .signUp-container .inputBox{
    position: relative;
}
#signUp .signUp-container .inputBox input,
#signUp .signUp-container .inputBox select{
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    color: #d190c0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #d190c0;
    background: transparent;
    font-weight: bold;
    outline: none;
}
#signUp .signUp-container .inputBox label,
#signUp .signUp-container .inputBox option {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #d190c0;
    font-weight: bold;
    pointer-events: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
#signUp .signUp-container .inputBox input:focus ~ label,
#signUp .signUp-container .inputBox input:valid ~ label{
    top: -15px;
    left: 0;
    color:#d190c0;
    font-size: 12px;
}
#signUp .signUp-container .signUp-form  .input-content {
    font-family:vagRounded-Light;
    font-size: 14px;
    padding-right: 50px;
}
#signUp .signUp-container .signUp-btn{
    background: white;
    color: #d190c0;
    position: relative;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px -4px 22.56px 1.44px rgba(89, 17, 98, 0.5);
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    font-size: 20px;
    font-weight: bold;
    min-width: 190px;
    height: 50px;
    letter-spacing: 1px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
#signUp .signUp-container .signUp-btn:hover {
    background:#d190c0;
    color:#fff;
    box-shadow: 0px -4px 22.56px 1.44px rgba(89, 17, 98, 0.5);
}

#signUp .signUp-container .signUp-form .input-check{
    color: #d190c0;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
input[type="checkbox"] + label {
    opacity: 1;
    cursor: pointer;
    padding: 10px;
    color: #d190c0;
    text-decoration: underline;
  }
input[type="checkbox"] {
    opacity: 0;
}
input[type="checkbox"] + label::before {
    content: "\2713";
    border: 1px solid #d190c0;
    border-radius: 3px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 1.2em;
    vertical-align: bottom;
    color: transparent;
    background-color: #d190c0;
    transition: .2s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  
input[type="checkbox"] + label:active::before {
    transform: scale(0);
}
  
input[type="checkbox"]:checked+ label::before {
    background-color: #d190c0;
    border-color: #d190c0;
    color: #fff;
    padding: 0 5px;
}

/* *******EXPERIENCE******** */
#experience {
    background-image: url(../img/footer.png),url(../img/Capture.PNG);
    background-size: contain,cover;
    background-repeat: no-repeat;
    background-position: center bottom, center center;
}
#experience .experience-img {
    text-align: center;
}
#experience .experience-carousel {
    margin: 30px 0;
    position: relative;
}
#experience .experience-carousel .slide-card{
    background: #ffe6f9;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: auto;
}
#experience .experience-carousel .slide-card .slide-items{
    padding: 10px 10px;
}
#experience .experience-carousel .slide-card .slide-img {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#experience .experience-carousel .slide-card .slide-title h3{
    color:#bf6bae;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 0;
}
#experience .experience-carousel .slide-card .slide-title p{
    font-size: 9px;
    color: #9b6eae;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
#experience .experience-carousel button.owl-prev{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #a878b4 !important;
    position: absolute;
    left: 0;
    top: 35%;
    transform: translateX(-50%);
    opacity: 0.7;
    outline: none;
}
#experience .experience-carousel button.owl-next {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #a878b4 !important;
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateX(50%);
    opacity: 0.7;
    outline: none;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
#experience .experience-carousel button.owl-prev span,
#experience .experience-carousel button.owl-next span {
    font-size: 107px;
    line-height: 37px;
    color: white;
    opacity: 0.7;
    background: transparent;

}
/* **********FOOTER********** */    
#footer {
   position: relative;
}
.footer-join  {
    margin: 50px 0 20px;
}
.footer-join .join-btn {
    background: white;
    color:#d190c0;
    box-shadow: 0px -4px 22.56px 1.44px rgba(89, 17, 98, 0.5);
    border-radius: 26px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    font-size: 20px;
    font-weight: bold;
    min-width: 220px;
    height: 60px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    font-family:vagRounded-Black;
}
 .footer-join .join-btn:hover {
    background:#d190c0;
    color:#fff;
    box-shadow: 0px -4px 22.56px 1.44px rgba(89, 17, 98, 0.5);
}
 .footer-content{
    text-align: center;
    margin: 0 5%;
    display: flex;
    list-style: none;
    position: relative;
    z-index: 20;
    padding-left: 0px;
}
#footer .footer-content >li{
    display: inline-block;
    margin: auto;
}
a.hover-img {
    width: 100%;
    padding-bottom: 10px;
}
.card-img a:hover img{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.fp-scrollable{
    overflow: hidden;
}

/* **************END HOME PAGE CSS************** */

/*************** START POPUP MENU CSS ***************/ 
.popup-menu .header-content{
    padding: 30px 25px;
}
.popup-menu .header-logo{
    margin: auto;
}
.popup-menu .popup-img-01 img{
    width: 350px;
    height: 500px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.popup-menu .popup-img-02 img{
    width: 350px;
    height: 250px;
    position: fixed;
    right: 5%;
    bottom: 16%;
}
.popup-menu .popup-content .popup-title {
    text-align: center;
    padding: 15px 0;
}
.popup-menu .popup-content .popup-title a {
    padding: 15px 0;
}
.popup-menu .popup-content .popup-title a:hover img {
    cursor: pointer;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.popup-menu .about-img-footer img{
    width: 100%;
    position: absolute;
    z-index: 20;
    height: 22vh;
    bottom: 0px;
    left: 0;
}
.popup-menu .popup-about {
    position: relative;
}
.popup-menu .popup-about .popup-img-01{
    position: absolute;
    z-index: 99;
    overflow: hidden;
    left: -125px;
    bottom: -245px;
}
.popup-menu .popup-about .popup-img-02{
    position: absolute;
    bottom: -90px;
    right: -55px;
}
.popup-btn > a {
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.popup-btn > a > i {
    color: white;
    font-size: 26px;
    padding: 15px;
}

@media only screen and (max-width:1024px) {
    .popup-menu .about-img-footer img{
        width: 100%;
        position: absolute;
        z-index: 20;
        height: 140px;
        bottom: -15px;
        left: 0
    }
    .popup-menu .popup-about .popup-img-01{
        position: absolute;
        z-index: 99;
        overflow: hidden;
        left: -82px;
        top: -230px;
    }
    .popup-menu .popup-img-01 img{
        width: 350px;
        height: 400px;
    }
    .popup-menu .popup-img-02 img{
        width: 250px;
        height: 200px;
        position: fixed;
        right: 5%;
        bottom: 13%;
    }
    .popup-menu .popup-about .popup-img-02{
        position: absolute;
        top: -130px;
        right: -5px;
    }
    .popup-menu .popup-video img {
        width: 400px;
        height: 50px;
    }
    .popup-menu .popup-challege img,
    .popup-menu .popup-share img {
        width: 300px;
        height: 40px;
    }
    .popup-menu .popup-sign img {
        width: 230px;
        height: 40px;
    }
}
@media only screen and (max-width:992px) {
    .popup-menu .header-content{
        padding: 25px 0px;
    }
    .popup-menu .popup-about .popup-img-01{
        position: absolute;
        z-index: 99;
        overflow: hidden;
        left: -180px;
    }
    .popup-menu .popup-about .popup-img-02{
        position: absolute;
        top: -75px;
        right: -80px;
    }
    .popup-menu .popup-img-02 img{
        width: 200px;
        height: 150px;
    }
    .popup-menu .popup-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .popup-menu .popup-video img{
        width: 450px;
        height: 50px;
    }
    .popup-menu .popup-challege img, 
    .popup-menu .popup-share img{
        width: 395px;
        height: 40px;
    }
    .popup-menu .popup-sign img{
        width: 300px;
        height: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .popup-menu .popup-img-01 img{
        width: 250px;
        height: 300px;
    }
    .popup-menu .popup-about .popup-img-01{
        position: absolute;
        z-index: 99;
        overflow: hidden;
        left: -150px;
        top: -125px;
    }
    .popup-menu .popup-about .popup-img-02{
        position: absolute;
        top: -75px;
        right: -70px;
    }
    .popup-menu .popup-img-02 img{
        width: 150px;
        height: 150px;
    }
    .popup-menu .popup-sign img{
        width: 310px;
        height: 40px;
    }
    .popup-menu .popup-challege img, .popup-menu .popup-share img{
        width: 350px;
        height: 40px;
    }
    #header .header-menu .header-btn, .popup-btn{
        border-radius: 50%;
        background-color: rgb(27, 66, 145);
        width: 50px;
        height: 50px;
        outline: none;
        cursor: pointer;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        position: absolute;
        right: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width:576px) {
    .popup-menu .header-content{
        padding: 20px 0px;
    }
    .popup-menu .popup-sign img {
        width: 235px;
        height: 40px;
    }
    .popup-menu .popup-challege img,
     .popup-menu .popup-share img {
        width: 315px;
        height: 40px;
    }
    .popup-menu .popup-about .popup-img-01{
        position: absolute;
        z-index: 99;
        overflow: hidden;
        left: -20px;
        top: -65px;   
    }
    .popup-menu .popup-img-01 img{
        width: 200px;
        height: 250px;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .popup-menu .popup-img-02 img{
        width: 120px;
        height: 120px;
        position: fixed;
        right: 0;
        bottom: 11%;
    }
    .popup-menu .popup-about .popup-img-02{
        position: absolute;
        top: -10px;
        right: 0px;
    }
    .popup-menu .about-img-footer img{
        width: 100%;
        position: absolute;
        z-index: 20;
        height: 110px;
        bottom: -15px;
        left: 0;
    }
}
@media only screen and (max-width:420px) {
    .popup-menu .header-content{
        padding: 10px 0px;
    }
    #popup-menu .header-logo img {
        width: 100px;
        height: 40px;
    }
    #header .header-menu .header-btn, .popup-btn {
        border-radius: 50%;
        background-color: rgb(27, 66, 145);
        width: 40px;
        height: 40px;
        outline: none;
        cursor: pointer;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        position: absolute;
        right: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .popup-menu .popup-video img{
        width: 270px;
        height: 50px;
    }
    .popup-menu .popup-challege img,
     .popup-menu .popup-share img{
        width: 240px;
        height: 40px;
    }
    .popup-menu .popup-sign img {
        width: 185px;
        height: 40px;
    }
    .popup-menu .popup-about .popup-img-01{
        position: absolute;
        z-index: 99;
        overflow: hidden;
        left: -15px;
        top: 10px;
    }
    .popup-menu .popup-img-01 img{
        width: 150px;
        height: 200px;
    }
    .popup-menu .popup-about .popup-img-02{
        position: absolute;
        top: 15px;
        right: -15px;
    }
}
